body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    margin-left: -20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header .back-arrow {
    color: var(--white-color);
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 28px;
}

header .header .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}


main {
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main__content {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main__content .text {
    padding: 0 30px;
}
.main__content .title {
    padding: 0 20px;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
}
.main__content .input {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__content .input input {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-left: 30px;
    font-size: 14px;
}

.main__content .button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.main__content .button button {
    width: 150px;
    height: 55px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: white;
    font-size: 20px;
    border: none;
}

