body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    margin-left: -20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

header .back-arrow {
    color: white;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 26px;
}

header .header .icon-back {
    font-size: 20px;
    color: var(--white-color);
    position: relative;
    top: 30px;
    left: 15px;
}

header .header .title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}

main {
    margin-top: 120px;
}

main .container {
    max-width: 800px;
    margin: 0 auto;
}

main .student-info {
    display: flex;
    align-items: center;
    background-color: #C2E3EC;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

main .student-info img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

main .student-details {
    flex-grow: 1;
}

main .student-details h3 {
    margin: 0;
    font-size: 18px;
}

main .student-details p {
    margin: 5px 0 0;
    font-size: 14px;
    color: gray;
}

main .pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
}

main .pie-chart canvas {
    max-width: 100%;
    height: auto;
}

main .legend {
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    margin: 20px auto;
}

main .legend div {
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    main .container {
        padding: 10px;
    }

    main .student-details h3 {
        font-size: 16px;
    }

    main .student-details p {
        font-size: 12px;
    }

    main .legend {
        align-items: center;
    }
}