* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

header .header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header .header .ti-angle-left {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 30px;
}

header .header .header__title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}
main {
    width: 100%;
    margin-top: 120px;
}
main .main__title {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
}
.main__title .title {
    margin-left: 45px;
    line-height: 50px;
}
.main__class {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.main__class .class {
    width: 90%;
    height: 75px;
    margin-top: 20px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 10px;
}
.left__class {
    line-height: 20px;
    width: 80%;
    padding-left: 10px;
}

.right__class {
    width: 20%;
    line-height: 20px;
}
.name__class {
    font-weight: bold;
}
.class .btn__detail {
    width: 60px;
    height: 30px;
    background-color: #B0DEFF;
    border: none;
    border-radius: 8px;
    color: black;
}

.siso {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}