body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    margin-left: -20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

header .back-arrow {
    color: white;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 28px;
}

header .header .icon-back {
    font-size: 20px;
    color: var(--white-color);
    position: relative;
    top: 30px;
    left: 15px;
}

header .header .title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}

main {
    margin-top: 120px;
}

main .event-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .event-item {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main .event-item img {
    border-radius: 20px;
    margin: 5px;
    width: 120px;
    height: auto;
    object-fit: cover;
}

main .event-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .event-content h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

main .event-content p {
    font-size: 14px;
    color: #666;
}

/* Responsive cho màn hình nhỏ hơn 768px (điện thoại) */
@media (max-width: 768px) {
    main .event-item {
      align-items: center;
    }

    main .event-item img {
      width: 30%;
    }
}

footer .pagination-container {
    position: fixed;
    bottom: 10px;
    /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer button {
    background-color: #4a588e;
    /* Use the color you prefer */
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

footer button:active {
    background-color: #3c4a79;
}

footer input {
    width: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    footer .pagination-container {
        bottom: 5px;
        /* Adjust for smaller devices */
    }

    footer button {
        padding: 8px;
        font-size: 15px;
    }

    footer input {
        width: 30%;
        font-size: 18px;
    }
}